[submodule "runtime"]
	path = runtime
	url = git@github.com:aetheric-forge/aetheric-runtime.git
	branch = main
[submodule "contracts"]
	path = contracts
	url = https://github.com/aetheric-forge/aetheric-contracts.git
