@page "/"
@inject IHomePageService HomePageService

@if (_model is null)
{
    return;
}

<div class="home-page">
    <Hero Model="_model.Hero" />
</div>

@code
{
    private HomePageModel? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await HomePageService.GetAsync();
    }
}