@page "/"
@inject IHomePageService HomePageService

@using AethericForge.Web.Models.Home

@if (_model is null)
{
    return;
}

<div class="home-page">
    <div class="home-page__container">
        <Hero Model="_model.Hero" />
    </div>
</div>

@code
{
    private HomePageModel? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await HomePageService.GetAsync();
    }
}