@page "/"
@inject IHomePageService HomePageService

@using AethericForge.Web.Models.Home
@using AethericForge.Web.Models.Shared
@using AethericForge.Web.Components.Home

@if (_model is null)
{
    return;
}

<div class="home-page">
    <div class="home-page__container">
        <Hero Model="_model.Hero" />

        <MissionSection Model="_model.MissionSection" />

        <ProjectsSection Model="_model.ProjectsSection" />

        <ResourcesSection Model="_model.ResourcesSection" />

        <CallToActionSection Model="_model.CallToActionSection" />

        <Footer />
    </div>
</div>

@code
{
    private HomePageModel? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await HomePageService.GetAsync();
    }
}