@page "/"
@inject IHomePageService HomePageService

@using AethericForge.Web.Models.Home
@using AethericForge.Web.Components.Home

@if (_model is null)
{
    return;
}

<div class="home-page">
    <Hero Model="_model.Hero" />

    <MissionSection Model="_model.Mission" />

    <SectionHeader Model="_model.ProjectsHeader" />

    <SectionHeader Model="_model.CommunityHeader" />
</div>

@code
{
    private HomePageModel? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await HomePageService.GetAsync();
    }
}