@using AethericForge.Web.Models.Home

<section class="mission-section">

    <SectionHeader Model="Model.Header" />

    <div class="mission-content">

        <p class="mission-description">
            @Model.Description
        </p>

        <div class="mission-pillars">

            @foreach (var pillar in Model.Pillars)
            {
                <div class="mission-pillar">

                    <h3 class="mission-pillar-title">
                        @pillar.Title
                    </h3>

                    <p class="mission-pillar-description">
                        @pillar.Description
                    </p>

                </div>
            }

        </div>

    </div>

</section>

@code {

    [Parameter]
    [EditorRequired]
    public MissionSectionModel Model { get; set; } = null!;

}