.projects-section {
    display: flex;
    flex-direction: column;

    gap: 4rem;

    padding: clamp(5rem, 10vw, 8rem) clamp(1.5rem, 5vw, 4rem);
    border-radius: 1.25rem;
    background: #e9edf4;
}

.projects-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(320px, 1fr)
        );

    gap: 2rem;
}
