.resources-section {
    display: flex;
    flex-direction: column;

    gap: 4rem;
    padding: clamp(5rem, 10vw, 8rem) clamp(1.5rem, 5vw, 4rem);
}

.resources-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(280px, 1fr)
        );

    gap: 2rem;
}
