.resources-section {
    display: flex;
    flex-direction: column;

    gap: 3rem;

    padding: 0 2rem;
}

.resources-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(280px, 1fr)
        );

    gap: 2rem;
}